@import './../../App.scss';

.ProductPage {
  &-top {
    margin-block: 4rem;
    align-items: flex-start;
    gap: 2rem;

    img {
      max-width: 500px;
      max-height: 500px;
    }

    &-right {
      align-items: flex-start;
      gap: 20px;
      width: 500px;
      
      border-radius: 8px;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
      padding: 1.2rem 1.2rem;

      .title {
        font-size: 1.2rem;
        font-weight: bold;
      }

      .price {
        width: 100%;
        font-size: 2.4rem;

        border-bottom: 1px dashed black;
      }

      .qty {
        .qty-inc, .qty-dec{
          padding: 1rem;
          color: $clr-grey;
          border: 2px solid $clr-light-grey;
          width: 32px;
          height: 32px;
          transition: background .2s ease;

          &:hover{
              background-color: $clr-light-grey;
          }
        }

        .qty-value{
            width: 40px;
        }
      }

    }
  }

  &-bottom {
    margin-bottom: 2rem;
    h3 {
      padding-block: 1rem;
    }
    .product-description {
      font-size: 1.4rem;
    }
  }

}
