@import './../../App.scss';

.navbar {

  &-logo {
    font-size: 2rem;
    font-weight: 700;
  }

  &-search {
    input {
      height: 54px;
      width: 100%;
      color: $clr-grey;
      padding: .4rem 1rem;
      border: 1px solid rgba(0, 0, 0, 0.07);
      border-radius: .2rem 0 0 .2rem;
    }

    button {
      height: 54px;
      width: 4rem;
      background-color: $clr-deco;
      color: $clr-white;
      transition: $transition;

      &:hover {
        background-color: $clr-deco-dark;
      }
    }
  }

  .navbar-top {
    padding-block: 1rem;
  }

  .navbar-bottom {
    padding-block: .4rem;

    ul {
      gap: 1.4rem;

      li {
        font-size: 1rem;
        transition: $transition;
        text-transform: capitalize;
  
        &:hover {
          opacity: 0.6;
        }
      }
    }

  }
}