@import './../../App.scss';

.category-item {
  text-decoration: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  gap: 1rem;
  padding: 1rem;
  width: 220px;
  height: 100%;
  
  box-shadow: 0 0 2px 0 $clr-grey;
  transition: box-shadow .2s ease-in-out;

  &:hover {
    box-shadow: 0 0 4px 0 $clr-black;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    img {
      width: 60%;
    }
  }

  .bottom {
    display: flex;
    width: 100%;
    justify-content: center;

    h6 {
      font-weight: 600;
      font-size: 1.2rem;
      color: $clr-grey;
      width: 100%;
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-transform: capitalize;
    }
  }

}