@import './../../App.scss';

.category-item {
  text-decoration: none;
  user-select: none;
  gap: 1rem;
  padding: 1rem;
  width: 220px;
  
  box-shadow: 0 0 2px 0 $clr-grey;
  transition: box-shadow .2s ease-in-out;

  &:hover {
    box-shadow: 0 0 4px 0 $clr-black;
  }

  img {
    width: 70%;
    max-height: 100%;
  }

  h6 {
    font-size: 1.2rem;
  }
}